/* You can add global styles to this file, and also import other style files */
@use 'tailwindcss';
@use 'ngx-toastr/toastr';

@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

html, body {
  height: 100%;
  overflow: hidden;
}

.toast-success {
  background-color: #0fc396;
  color: white;
  border-left: 4px solid #0f766e;
}

.toast-error {
  background-color: #ef4444;
  color: white;
  border-left: 4px solid #b91c1c;
}
.toast-info {
  background-color: #2F96B4;
  color: white;
  border-left: 4px solid #0e7490;
}
.toast-warning {
  background-color: #f59e0b;
  color: white;
  border-left: 4px solid #b45309;
}

.dark {
  .toast-success {
    background-color: #134e4a; 
    color: #99f6e4;            
    border-left: 4px solid #2dd4bf; 
  }

  .toast-error {
    background-color: #781717; 
    color: #fecaca;            
    border-left: 4px solid #f87171; 
  }

  .toast-info {
    background-color: #083344; 
    color: #a5f3fc;            
    border-left: 4px solid #22d3ee; 
  }

  .toast-warning {
    background-color: #a7572c; 
    color: #fde68a;            
    border-left: 4px solid #fbbf24;
  }
}

.toast-top-center {
  top: 3rem !important;
}

.custom-toastr-dimensions {
  width: 360px !important;       /* Set your exact width */
  min-height: 80px !important;   /* Set a minimum height */
  max-width: 90vw !important;    /* Ensures it scales down on smaller viewports */
}


a.link {
  @apply underline text-teal-600 dark:text-teal-400 hover:text-teal-700 visited:text-teal-800 dark:visited:text-amber-400
}

.form-error{
  @apply text-red-600 dark:text-red-400 text-sm pt-2;
}