# 👇 Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env
.env.local
.env.*.local

# 👇 Angular
/dist
/tmp
/out-tsc
/bazel-out
.angular/cache/
.angular/config.json
.sass-cache/
/connect.lock
/typings

# 👇 Editor/IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln

# 👇 Sistemi operativi
Thumbs.db
.DS_Store

# 👇 Logs e output
logs/
*.log

# 👇 Test coverage
coverage/

# 👇 Others
*.tgz
