/* Un po' di stile semplice */
nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
